<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
 <session-factory name="MySessionFactory">
 	<property name="show_sql">true</property>
 	<property name="format_sql">false</property>
 	<property name="hibernate.connection.datasource">java:/comp/env/jdbc/MySql</property>
 	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
 	<property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 	    <mapping class="it.matteo.hibernatemaven.vo.Employees"/>
        <mapping class="it.matteo.hibernatemaven.vo.Departments"/>
        <mapping class="it.matteo.hibernatemaven.vo.DepartmentManager"/>
        <mapping class="it.matteo.hibernatemaven.vo.DeptEmp"/>
        <mapping class="it.matteo.hibernatemaven.vo.Salaries"/>
        <mapping class="it.matteo.hibernatemaven.vo.Titles"/>
 </session-factory>
</hibernate-configuration>